{% extends 'base.html' %}

{% block content %}
<div class="area ml-1 ml-1">
<p style="margin-top:100px"></p>
<h2 class="text-center">Platform to online businesses Platform in Bangladesh.</h2><br>

<p class="lead">"Business Book" is one of the best online business platforms in Bangladesh. And practically all those businesses are managed through "Business Book". All business related support is provided through "Business Book". "Business Book" is an online business community in Bangladesh. 
 Here is a complete guide line on all the businesses that can be conducted through online. And practically all those businesses are managed through "Business Book" <br><br>
Here all the activities of "Business Book", and business rules, various types of business training including various types of updates are shared.
If you are an entrepreneur or always think of yourself in business thinking then business book is one of the best platforms to turn your imagination into reality.
We have a lot of opportunities in this "Business Book" for those who dream and want to do something on their own, want to see themselves in the group of successful businessmen by working hard and want to change their lives.
Those who want to see themselves as a supportive entrepreneur till the end of their lives. We only hope to move forward with them.</p>



<h2 class="text-center" style="text-align:center">The support that you will get through Business Book is:-</h2><br>

<ul style="list-style-type:none">
	<li class="sitem" style="font-size:20px">1. Receipt of revenue through purchase of Adpack in digital business. & invest the best Digital project of business Book.</li> <br>
	<li  style="font-size:20px"> 2. Advantages of buying and selling direct shares in digital projects.</li><br>
	<li  style="font-size:20px"> 3. Convenience of sending and receiving all types of payments.</li><br>

	<li  style="font-size:20px"> 4. Starting a business with your own branding in the online e-commerce sector. </li><br>
	<li  style="font-size:20px"> 5. Digital product ideas and sales facilities. </li><br>
	<li  style="font-size:20px"> 6. Invoice and digital bill memo creation facility to receive payment from client or company as a freelancer. </li><br>
	<li  style="font-size:20px"> 7. Joining as an agent of Business Book and earning income by providing customer service based on your area. </li><br>
	<li  style="font-size:20px"> 8. Opportunity to do business as a verified supplier of Business Book to grow any business you start. </li><br>
	<li  style="font-size:20px"> 9. To earn more than 40% commission based on project based marketing by joining digital agency </li><br>
	<li  style="font-size:20px"> 10. To earn income through job as an online virtual worker. </li><br></br>
	
</ul><br><br>

<h2 class="text-center">The main purpose or vision of "Business Book"</h2><br><br>

<ul style="list-style-type:none">
	<li style="font-size:20px"><i class="fas fa-check"> </i>  Create employment for young entrepreneurs.</li><br>

	<li style="font-size:20px"><i class="fas fa-check"> </i> Engaging entrepreneurs in online business. </li> <br>
	
	<li style="font-size:20px"><i class="fas fa-check"> </i> The only practice of positivity, from all kinds of negativity we all have to provide all kinds of support    to keep the business afloat in all 
		<span class="ml-4">situations.</span> </li><br>

	
	<li style="font-size:20px"><i class="fas fa-check"> </i> Those who dream of growing up will earn a lot of money. I will have financial success. To provide all kinds of support and cooperation to <span class="ml-4"> make their dream come true. </span></li><br>

	<li style="font-size:20px"><i class="fas fa-check"> </i>  We will move forward with the people who have put the saying "I will not work, I will not give jobs" in their hearts and who have a lot of hard 
		<span class="ml-4">work and the courage to be an entrepreneur.</span></li><br>

	<li style="font-size:20px"><i class="fas fa-check"> </i> Giving the right direction to a successful entrepreneur as a new entrepreneur. </li> <br>

	<li style="font-size:20px"><i class="fas fa-check"> </i>  To show the right way to reach the peak of success by keeping one's desires and dreams in focus.</li><br>

	<li style="font-size:20px"><i class="fas fa-check"> </i>  Involve young entrepreneurs in domestic as well as foreign businesses to make them successful entrepreneurs on an international scale.</li><br>

</ul> <br><br>

<h2 class="text-center">All the training that you will get from Business Book in case of business expansion. </h2> <br><br>

<ul style="list-style-type:none">
		<li style="font-size:20px"><i class="fas fa-check"> </i> How to start an online business without risk with a small investment. </li> <br>
		<li style="font-size:20px"><i class="fas fa-check"> </i> Provide live hand-to-hand training on proper business management and from starting a business to making a profit. </li> <br>

		<li style="font-size:20px"><i class="fas fa-check"> </i> Provide proper product selection process from major markets around the world. </li> <br>

		<li style="font-size:20px"><i class="fas fa-check"> </i> Provide detailed ideas about virtual products and physical products.</li> <br>

		<li style="font-size:20px"><i class="fas fa-check"> </i> The right Digital marketing plan.</li> <br>
		
		<li style="font-size:20px"><i class="fas fa-check"> </i> Manage business through trusted staff.</li> <br>

		<li style="font-size:20px"><i class="fas fa-check"> </i>Give confidence to survive in business through great stimulation.</li> <br>


		<li style="font-size:20px"><i class="fas fa-check"> </i>Provide detailed and practical training on online business.</li> <br>


		<li style="font-size:20px"><i class="fas fa-check"> </i>Achieving stability and confidence in profitable income.</li> <br>

		<li style="font-size:20px"><i class="fas fa-check"> </i>Provide practical training on various modern marketing methods to help increase sales.</li> <br>


</ul>


<h2 class="text-center">To follow the sales method of international marketers regarding the sale of goods:</h2>  <br><br>

<ul style="list-style-type:none">
	<li style="font-size:20px"><i class="fas fa-check"> </i> Use of relationship sales method.</li> <br>
	<li style="font-size:20px"><i class="fas fa-check"> </i> Use of door-to-door sales method.</li> <br>
	<li style="font-size:20px"><i class="fas fa-check"> </i> Use of push selling system.</li> <br>
	<li style="font-size:20px"><i class="fas fa-check"> </i> How to generate auto cell through a sales funnel.</li> <br>
	<li style="font-size:20px"><i class="fas fa-check"> </i> Use of high potential sales method.</li> <br>


</ul>



</div>

{% endblock content %}