{% extends 'base.html' %}
{% load static %}
{% block content %}
<p style="margin-top:100px"></p>
<img src="{% static 'img/agentjoin.png' %}" width="100%" height="50%" class="mb-1" />

<h2 class="text-center">Business Book Agent </h2><br>
<p class="lead">Become a Business Book Agent and start an online business through Business Book with customer service It doesn't take any security to be a business book agent.<br>
So it is very easy for anyone to become an agent in his area and provide business book services.
You will be verified as an agent by providing a business book service as an agent and recharging  $500 in that account.<br>
Start providing business book services in your area with free training through Business Book's skilled trainers.</p>
<br>

<h2 class="text-center">These are the services that agents will provide</h2><br>
<ul style="list-style-type:none">
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>Registering a new customer</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>Send Money to User</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>Collecting dollars and supporting dollar related customers.</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>Cash through dollar exchange and bank transfer</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i> Teach customers how to open a new account and how to use the account.</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>Provide all kinds of guide line services including purchase of shares, receipt of revenue.</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>Provide all services for conducting various types of events and activities of Area Based #Business Book.</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>Always conduct business side by side with Business Book with positive advice and feedback on customer demand and customer growth</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>Give customers the solution to any problems as quickly as possible.</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>Manage your own area based business book events</li>
</ul>


<h2 class="text-center">How will the business book agents earn?</h2><br>
<p class="lead text-center">Agents in the Business Book can earn as a commission in several steps.</p>

<ul style="list-style-type:none">
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>Buying and selling dollars among customers. There will be an instant profit of 3-5 BDT per dollar.</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>New customers who open a business book account will receive an instant commission of  $1 Dollar per new active account.</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>If the customer buys any share, the agent will get commission according to the value of that share.</li>


	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>There is a minimum instant commission of  $5 to  $100 per share</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i> 10% commission on Mini job's total income in case of micro job.</li>
	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>If customers buy and sell any product, the agent will get 3% commission.</li>

	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>5% commission on project value per month through crowd funding project verification.</li>

	<li style="font-size:20px"><i class="fas fa-hand-point-right"></i>There are also several other income opportunities for agents. All in all, an agent can earn a minimum of 15 to 30 thousand  BDT  per month through the business book in the initial stage.</li>
	
</ul>

<h5 class="text-center">Then join as an agent in your area without delay and earn more easily with Business Book.</h5><br>

<h2 class="text-center">How do I register as an agent?</h2>
<br>
<p class="lead text-center">Send a message of agent registration on our business book's Facebook page. Our admins will assist you in registering as an agent.</p>






{% endblock content %}