<body style="background-color:black"><font style="color:red;font-size:30px">এই ছবির লোকটির নাম মেহেদী হাসান |উনি একজন প্রতারক | শত মানুষ উনার দ্বারা প্রতারিত এবং এই সাইটের টিম মেম্বার ও ডেভেলপাররাও উনার প্রতারণার শিকার |নিচে উনার আইডি কার্ড এবং কন্টাক্ট ডিটেইলস দেয়া হলো | দয়া করে নতুন করে উনার প্রতারণার শিকার কেও হবেন না |উনি এখন  পলাতক | </font></body><br>

<font color="red" size="14">ফোন নাম্বার : 01750775229,01796138505 </font>

<br>

<img src="/static/img/mehedipic.jpg" height="70%" width="40%" style="margin-left:0%;margin-right:auto" />
<img src="/static/img/mehediidfront.jpg" height="70%" width="50%" style="margin-left:0%;margin-right:auto" />

<img src="/static/img/mehediidback.jpg" height="70%" width="50%" style="margin-left:0%;margin-right:auto" />