{% extends 'base.html' %}

{% load static %}


{% block content %}


    <!-- Content -->
    <div id="content">

        <!-- Slideshow -->
        <div class="owl-carousel owl-theme single-slideshow" data-autoplay="true" data-loop="true" data-autoheight="true" data-nav="true" data-items="1">
            <div class="item">
                <section class="hero-wrap section shadow-md">
                    <div class="hero-mask opacity-7 bg-dark"></div>
                    <div class="hero-bg" style="background-image:url('{% static 'img/image-1.jpg' %}');"></div>

                    <div class="hero-content py-2 py-lg-5">
                        <div class="container text-center">
                            <h2 class="text-16 text-white"> Platform to Digital businesses solution in Bangladesh</h2>
                            <p class="text-5 text-white mb-4">There are different types of opportunities for all types of traders<br class="d-none d-lg-block">
                                </p>
                            <a href="{% url 'signup' %}" class="btn btn-primary m-2">Open a Free Account</a> <a class="btn btn-outline-light video-btn m-2" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"><span class="text-2 mr-3"><i class="fas fa-play"></i></span>See How it Works</a>
                        </div>
                    </div>
                </section>
            </div>
            <div class="item">
                <section class="hero-wrap section shadow-md">
                    <div class="hero-bg" style="background-image:url('{% static 'img/image-3.jpg'%}');"></div>
                    <div class="hero-content py-2 py-lg-4">
                        <div class="container">
                            <div class="row">
                                <div class="col-12 col-lg-8 col-xl-7 text-center text-lg-left">
                                    <h2 class="text-13 text-white">usiness Book is the faster, safer way to send money</h2>
                                    <p class="text-5 text-white mb-4">  make an online payment, receive money or set up a merchant account.</p>
                                    <a href="{% url 'signup' %}" class="btn btn-primary mr-3">Get started for free</a> <a class="btn btn-link text-light video-btn" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"><span class="mr-2"><i class="fas fa-play-circle"></i></span>Watch Demo</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- Slideshow end -->

        <!-- Why choose -->
        <section class="section bg-light">
            <div class="container">
                <h2 class="text-9 text-center">Why should you choose Businessbook?</h2>
                <p class="text-4 text-center mb-5">Here’s Top 4 reasons why using a Businessbook account for manage your money.</p>
                <div class="row">
                    <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="featured-box">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-hand-pointer"></i> </div>
                            <h3>Easy to use</h3>
                            <p class="text-3"> Business Book Money sending & Transfer Money Bank Transfer Made very Easy & User friendly With Business Book. our money Transferring system is very easy. directly to the bank from Business Book is instant and free of cost using .Yes, any Business Book user can make a bank transfer anytime and anywhere in less than a minute. </p>
                           <!-- <a href="#" class="btn-link text-3">Learn more<i class="fas fa-chevron-right text-1 ml-2"></i></a> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-5 mb-lg-0">
                        <div class="featured-box">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-share"></i> </div>
                            <h3>Faster Payments</h3>
                            <p class="text-3">very fast Hassle Free Payments receive & Accepted Online & In Stores. Customers can pre-authorize trusted merchants to do a transaction on their behalf on fulfillment of a product/service.Real time updated.</p>
                            <!--<a href="#" class="btn-link text-3">Learn more<i class="fas fa-chevron-right text-1 ml-2"></i></a> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mb-5 mb-sm-0">
                        <div class="featured-box">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-dollar-sign"></i> </div>
                            <h3>Highly Secure & Risk-free Investment.</h3>
                            <p class="text-3">Your money is safe with us. We invest your deposits only in trustable & profitable projects. None of your deposits will be converted in to risky assets. Our expert team maintains & monitors all projects .
                             Your account is secured with a special 
                            Business Book Pincode to ensure your account is safe. </p>
                            <!--<a href="#" class="btn-link text-3">Learn more<i class="fas fa-chevron-right text-1 ml-2"></i></a> -->
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="featured-box">
                            <div class="featured-box-icon text-primary"> <i class="fas fa-lock"></i> </div>
                            <h3>Earn money with business book.</h3>
                            <p class="text-3"> There are income opportunities through various types of projects. Make a profit every day by buying ad packs or shares. Best Investment platform in bangladesh. Our platform is Safe & Secure.</p>
                            <!--<a href="#" class="btn-link text-3">Learn more<i class="fas fa-chevron-right text-1 ml-2"></i></a> -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Why choose end -->

        <!-- Payment Solutions -->
        <section class="section">
            <div class="container overflow-hidden">
                <div class="row">
                    <div class="col-lg-5 col-xl-6 d-flex">
                        <div class="my-auto pb-5 pb-lg-0">
                            <h2 class="text-9">Power of Online Wallet Account For Your Digital Business</h2>
                            <p class="text-4">Business Book is the solution to all online businesses. Here any trader can easily join new types of business including growing their business.You can manage any business in your Online wallet business book account and learn practically how to make a profit using Business Book wallet & get guide how to survive in the Business market.</p>
                           
                        </div>
                    </div>
                    <div class="col-lg-7 col-xl-6">
                        <div class="row banner style-2 justify-content-center">
                            <div class="col-12 col-sm-6 mb-4 text-center">
                                <div class="item rounded shadow d-inline-block"> <a href="#">
                                        <div class="caption rounded-bottom">
                                            <h2 class="text-5 font-weight-400 mb-0">Freelancer</h2>
                                        </div>
                                        <div class="banner-mask"></div>
                                        <img class="img-fluid" src="{% static 'img/freelancer-min.jpg' %}" width="410" height="350" alt="banner">
                                    </a> </div>
                            </div>
                            <div class="col-12 col-sm-6 mb-4 text-center">
                                <div class="item rounded shadow d-inline-block"> <a href="#">
                                        <div class="caption rounded-bottom">
                                            <h2 class="text-5 font-weight-400 mb-0">Online Shopping</h2>
                                        </div>
                                        <div class="banner-mask"></div>
                                        <img class="img-fluid" src="{% static 'img/online-shoping.jpg' %}" width="410" height="350" alt="banner">
                                    </a> </div>
                            </div>
                            <div class="col-12 col-sm-6 mb-4 mb-sm-0 text-center">
                                <div class="item rounded shadow d-inline-block"> <a href="#">
                                        <div class="caption rounded-bottom">
                                            <h2 class="text-5 font-weight-400 mb-0">Online Sellers</h2>
                                        </div>
                                        <div class="banner-mask"></div>
                                        <img class="img-fluid" src="{% static 'img/online-seller-min.jpg' %}" width="410" height="350" alt="banner">
                                    </a> </div>
                            </div>
                            <div class="col-12 col-sm-6 text-center">
                                <div class="item rounded shadow d-inline-block"> <a href="#">
                                        <div class="caption rounded-bottom">
                                            <h2 class="text-5 font-weight-400 mb-0">Affiliate Marketing</h2>
                                        </div>
                                        <div class="banner-mask"></div>
                                        <img class="img-fluid" src="{% static 'img/online-marketing-min.jpg' %}" width="410" height="350" alt="banner">
                                    </a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Payment Solutions end -->

        <!-- What can you do -->
        

        <!-- What can you do -->


        <section class="section bg-light">
            <div class="">
                <h2 class="text-9 text-center">Our Investment Project</h2>
                <p class="text-4 text-center mb-5"></p>
                <div class="row">
                    <div class="main-body">
                        <!--- main content --->
                        <div class="page-wrapper">
                            <!-- Page body start -->
                            <div class="page-body navbar-page">
                                <div class="row" style="text-align: center;">
                                    <div class="col-sm-12">
                                        <!-- Default Navbar card start -->
                                        <div class="">
                                            <div class="card-block">
                                                <div class="row row d-flex justify-content-center">
                                                    
                                                        <div class="card-body justify-content-center" style="padding-left: 0">
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/mobile-apps.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>Apps Development</h4>
                                                                            <p>We devoloping creative & User friendly Android mobile apps or games, & Publish Google Play store & get Google admob revenue & Google Pay.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/Website Devlopment.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>Web Site Development Project: (own project & Service Sale)</h4>
                                                                            <p>We developed many Niche website & Magazine Website our revenue earn from Event bloging,Google adcense,Amazone Affiliate, & we sale project in flippa.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/Ecurrency.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>E-currency buy sale and exchange service.</h4>
                                                                            <p>Our one of the best profitable project is E-currency by & sale. paypal/netteler/skrill/perfect money & Bit coin Currency we buy & sale Our Trustable Customer our revenue 1 USD 3-4 BDT </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/Video Project.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>Video marketing Project</h4>
                                                                            <p>(own project & Service Sale) We Create a video content & Publish Video platform, Youtube,Facebook & Dalimation Platform. we get our revenue Google Adscense, Sponsor Ads, Mcn Network. & Affiliate Offar promote our video.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/Domain.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>Domain Auction, Hosting & Domain Server</h4>
                                                                            <p>We buy and stock old SEO friendly domains. Then I sell them at a higher price. I also provide new domain registration and hosting support.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/Affiliate marketing.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>Affiliate Marketing, (Amazone & CJ)</h4>
                                                                            <p>We get good revenue through affiliate marketing through Amazon and Commission Junction. We have our own skilled digital marketers.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/Print on Demand.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>T-Shirt Affiliate (Gearlaunch & MBA store)</h4>
                                                                            <p>We get good revenue through affiliate marketing through Amazon and Commission Junction. We have our own skilled digital marketers.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/cpa marketing.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>CPA Marketing and Lead Generation ( Maxbounty, Cpafull /Cpalead / Cpagrip)</h4>
                                                                            <p>We get good revenue through affiliate marketing through Amazon and Commission Junction. We have our own skilled digital marketers.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Extra Block-->
                                                            
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/cloud server.png' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>Cloud Server</h4>
                                                                            <p>We get good revenue through affiliate marketing through Amazon and Commission Junction. We have our own skilled digital marketers.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/Seo Project.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>SEO Project</h4>
                                                                            <p>We get good revenue through affiliate marketing through Amazon and Commission Junction. We have our own skilled digital marketers.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/dropshipping.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>Dropshipping Service</h4>
                                                                            <p>We get good revenue through affiliate marketing through Amazon and Commission Junction. We have our own skilled digital marketers.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            
                                                            <div class="col-sm-12" style="max-width: max-content;display: inline-block;margin-bottom: 25px;">
                                                                <div>
                                                                    <div class="ibg">
                                                                        <img src="{% static 'ourinvestimg/Ecommerce.jpg' %}">
                                                                        <div class="ibtn">
                                                                            <button>View More</button>
                                                                        </div>
                                                                        <div class="icn">
                                                                            <h4>Ecommerce</h4>
                                                                            <p>We get good revenue through affiliate marketing through Amazon and Commission Junction. We have our own skilled digital marketers.</p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--Extra Blok End-->


                                                            <style>
                                                                .icn h4 {
                                                                    margin: 4px 0 2px 0;
                                                                    font-weight: bold;
                                                                    font-size: 16px;
                                                                }

                                                                .icn p {
                                                                    margin: 0;
                                                                    line-height: 18px !important;
                                                                }


                                                                .ibg:hover .ibtn {
                                                                    opacity: 1;
                                                                    background: #0000002b;
                                                                }

                                                                .ibg:hover .icn {
                                                                    opacity: 0;
                                                                }

                                                                .icn {
                                                                    position: absolute;
                                                                    bottom: 0;
                                                                    text-align: center;
                                                                    width: 280px;
                                                                    background: #FF5733;
                                                                    color: white;
                                                                    transition: 0.3s;
                                                                    padding: 5px 5px;
                                                                }

                                                                .ibg {
                                                                    width: 280px;
                                                                }

                                                                .ibg img {
                                                                    width: 280px;
                                                                    height: 300px;
                                                                }

                                                                .ibtn {
                                                                    position: absolute;
                                                                    text-align: center;
                                                                    height: 100%;
                                                                    top: 0;
                                                                    display: flex;
                                                                    justify-content: center;
                                                                    align-items: center;
                                                                    width: 280px;
                                                                    opacity: 0;
                                                                    transition: 0.3s;
                                                                    z-index: 999;
                                                                }

                                                                .ibtn button {
                                                                    background: none;
                                                                    border: 1px solid;
                                                                    padding: 10px 15px;
                                                                    font-weight: bold;
                                                                    color: white;
                                                                    cursor: pointer;
                                                                    z-index: 999;
                                                                }

                                                            </style>
                                                        </div>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <!-- Default Navbar card end -->
                                    </div>
                                </div>
                            </div>
                            <!-- Page body end -->
                        </div>
                        <!--- main content end -->
                    </div>
                </div>
            </div>
        </section>
                                                                            
        <!-- What can you do end -->


        
        <!-- What can you do end -->

        <!-- How work -->
        <section class="section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card bg-dark-3 shadow-sm border-0"> <img class="card-img opacity-8" src="{% static 'img/video-img.jpg' %}" width="570" height="362" alt="banner">
                            <div class="card-img-overlay p-0"> <a class="d-flex h-100 video-btn" href="#" data-src="https://www.youtube.com/embed/7e90gBu4pas" data-toggle="modal" data-target="#videoModal"> <span class="btn-video-play bg-white shadow-md rounded-circle m-auto"><i class="fas fa-play"></i></span> </a> </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mt-5 mt-lg-0">
                        <div class="ml-4">
                            <h2 class="text-9">How does it work?</h2>
                            <p class="text-4">Quidam lisque persius interesset his et, in quot quidam persequeris essent possim iriure. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            <ul class="list-unstyled text-3 line-height-5">
                                <li><i class="fas fa-check mr-2"></i>Sign Up Account</li>
                                <li><i class="fas fa-check mr-2"></i>Receive & Send Payments from worldwide</li>
                                <li><i class="fas fa-check mr-2"></i>Your funds will be transferred to your local bank account</li>
                            </ul>
                            <a href="#" class="btn btn-outline-primary shadow-none mt-2">Open a Free Account</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- How work end -->

        <!-- Testimonial -->
        <section class="section bg-light">
            <div class="container">
                <h2 class="text-9 text-center">What people are saying about Businessbook</h2>
                <p class="text-4 text-center mb-4">A payments experience people love to talk about</p>
                <div class="owl-carousel owl-theme" data-autoplay="true" data-nav="true" data-loop="true" data-margin="30" data-slideby="2" data-stagepadding="5" data-items-xs="1" data-items-sm="1" data-items-md="2" data-items-lg="2">
                    <div class="item">
                        <div class="testimonial rounded text-center p-4">
                            <p class="text-4">“Easy to use, reasonably priced simply dummy text of the printing and typesetting industry. Quidam lisque persius interesset his et, in quot quidam possim iriure.”</p>
                            <strong class="d-block font-weight-500">Jay Shah</strong> <span class="text-muted">Founder at Icomatic Pvt Ltd</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial rounded text-center p-4">
                            <p class="text-4">“I am happy Working with printing and typesetting industry. Quidam lisque persius interesset his et, in quot quidam persequeris essent possim iriure.”</p>
                            <strong class="d-block font-weight-500">Patrick Cary</strong> <span class="text-muted">Freelancer from USA</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial rounded text-center p-4">
                            <p class="text-4">“Fast easy to use transfers to a different currency. Much better value that the banks.”</p>
                            <strong class="d-block font-weight-500">De Mortel</strong> <span class="text-muted">Online Retail</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial rounded text-center p-4">
                            <p class="text-4">“I have used them twice now. Good rates, very efficient service and it denies high street banks an undeserved windfall. Excellent.”</p>
                            <strong class="d-block font-weight-500">Chris Tom</strong> <span class="text-muted">User from UK</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial rounded text-center p-4">
                            <p class="text-4">“It's a real good idea to manage your money by Pofiteebd. The rates are fair and you can carry out the transactions without worrying!”</p>
                            <strong class="d-block font-weight-500">Mauri Lindberg</strong> <span class="text-muted">Freelancer from Australia</span>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial rounded text-center p-4">
                            <p class="text-4">“Only trying it out since a few days. But up to now excellent. Seems to work flawlessly. I'm only using it for sending money to friends at the moment.”</p>
                            <strong class="d-block font-weight-500">Dennis Jacques</strong> <span class="text-muted">User from USA</span>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4"><a href="#" class="btn-link text-4">See more people review<i class="fas fa-chevron-right text-2 ml-2"></i></a></div>
            </div>
        </section>
        <!-- Testimonial end -->

        <!-- Customer Support -->
        <section class="hero-wrap section shadow-md">
            <div class="hero-mask opacity-9 bg-primary"></div>
            <div class="hero-bg" style="background-image:url('{% static 'img/support-img.jpg' %}');"></div>
            <div class="hero-content py-5">
                <div class="container text-center">
                    <h2 class="text-9 text-white">Awesome Customer Support</h2>
                    <p class="text-4 text-white mb-4">Have you any query? Don't worry. We have great people ready to help you whenever you need it.</p>
                    <a href="#" class="btn btn-light">Find out more</a>
                </div>
            </div>
        </section>
        <!-- Customer Support end -->

        <!-- Mobile App -->
        <section class="section py-5">
            <div class="container">
                <div class="justify-content-center text-center">
                    <h2 class="text-9">Get the app</h2>
                    <p class="text-4 mb-4">Download our app for the fastest, most convenient way to send & get Payment.</p>
                    <a class="d-inline-flex mx-3" href="{% url 'upcomming' %}"><img alt="" width="168" height="49" src="{% static 'img/app-store.png' %}"></a> <a class="d-inline-flex mx-3" href="{% url 'upcomming' %}"><img alt="" width="168" height="49" src="{% static 'img/playstore.png' %}"></a>
                </div>
            </div>
        </section>
        <!-- Mobile App end -->

    </div>
    <!-- Content end -->
{% endblock content %}
