{% extends 'base.html' %}
{% load static %}
{% block content %}
<p style="margin-top:100px"></p>
<h2 class="text-center text-danger">Beware of Dubious Schemes</h2>

<br>
<div class="ml-5">
<p class="lead">Never respond to unsolicited offers of money received through emails/phone/other media*</p>

<p class="lead">No one really gives you money for free*</p>

<p class="lead">Be careful while investing in seemingly attractive schemes offering high returns*</p>
<p class="lead">Don’t invest in unregulated companies/entities*</p>
<p class="lead">Don’t rely on hearsay - Check for yourself*</p>

<p class="lead">High return means higher risk including potential loss of entire money - Check your risk-appetite!*</p>
<p class="lead">Take care of your money - it is hard to earn but easy to lose*</p>
<p class="lead">When in doubt check with a trusted financial advisor*</p>

</div>
<div class="container-fluid">
	<div class="row">
		<div class="col-md-6">
<h2 class="text-left text-success"><img class="mr-1" src="{% static 'img/right.png' %}" height="40px" width="40px" />Do's:</h2><br>

<ul style="list-style-type:none">
	<li style="font-size:20px"><i class="fas fa-check"> </i>Protect your business book account with the device you want to use with password at all times.</li>
	<li style="font-size:20px"><i class="fas fa-check"> </i>Set a maximum incorrect password input limit.</li>
	<li style="font-size:20px"><i class="fas fa-check"> </i>Employ a strong password for Business Book Login. E.g. Use special characters, numbers etc. in the password.</li>

	<li style="font-size:20px"><i class="fas fa-check"> </i>Update/change Business Book passwords and Business Book pin code at regular intervals.</li>


	<li style="font-size:20px"><i class="fas fa-check"> </i>Business Book Report lost/stolen phone to service provider/police.</li>
	</ul>


</div>


<div class="col-md-6">
<h2 class="text-left text-danger"><img class="mr-1" src="{% static 'img/cross.png' %}" height="40px" width="40px" />Dont's:</h2><br>

<ul style="list-style-type:none">
	<li style="font-size:20px"><i class="fas fa-check"> </i>Never transfer funds without validation of recipient.</li>
	<li style="font-size:20px"><i class="fas fa-check"> </i>Never share the Login details/PIN/OTP/Transaction IDs/Passcode/Confidential information over phone/internet.</li>
	<li style="font-size:20px"><i class="fas fa-check"> </i>Do not store any sensitive information such as Business Book pin code, password, </li>

	<li style="font-size:20px"><i class="fas fa-check"> </i>Never forget to intimate us for change in address/mobile number to avoid misdelivery of transaction communication.</li>


	<li style="font-size:20px"><i class="fas fa-check"> </i> Never click on embedded links from unknown sources on social networking sites / emails.</li>
	</ul>







</div>
</div>
</div>






{% endblock content %}