{% extends 'base.html' %}
{% load static %}
{% block content %}

<p class="lead" style="margin-top:100px"></p>
<img src="{% static 'img/helpline.png' %}" width="100%" class="mb-2" height="50%" />
<div class="ml-5">
<h2 class="text-center">Help is just A call Away</h2>
<br><br>
<h5>Business Book  24*7 Customer Helpline Numbers</h5><br>
<p class="lead">Call:-  +8809638-080420</p>
<p class="lead">Email:- support@businessbook.ltd</p>
<p class="lead">Facebook Live chat:- m.me/businessbookbd</p>
<p class="lead">Join Our Facebook Community:- https://www.facebook.com/groups/businessbookbd/</p><br>

<p class="lead text-center">Our customer care is available to help you 24*7. Currently, 
For any of your help you can get the solution via direct phone call, you can register your issue with us. We will try to solve your concern at the earliest.You can get help with your email ID or other account information to solve your problem.,Once we get the request, our team will try and solve your issue on priority & contact you for any help required from our end.</p><br>
<p class="lead"><span style="color:red">Please note</span> that while the number is available 24*7 for your convenience, we contact our customers between 10 AM to 8 PM.</p><br>

<h2 class="text-center">24x7 Help</h2><br>

<p class="lead text-center">You get Business Book's live support For any of your help you can get the solution via direct phone call</p>

<h2 class="text-center">Business Book Trust</h2><br>
<p class="lead text-center">Your money is yours! All refunds come with no question asked guarantee.</p><br>


<h2 class="text-center">100% Assurance</h2><br>
<p class="lead text-center">At Business Book, we provide 100% assurance. If you have any issue, your money is immediately refunded. Sit back and enjoy your Business.</p><br>
<h2 class="text-center">Our Promise</h2><br>
<p class="lead text-center">Happiness is guaranteed at Business Book . If we fall short of your expectations, give us a shout.</p>

</div>

{% endblock content %}