{% extends 'dashboard/sidebar.html' %}
{% block content %}
{% load static %}


<style type="text/css">
    
    .effect:hover{

        box-shadow: 0 40px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        margin-top:30px;
}

</style>

                                <!--- main content --->

                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Adpack List</h4>
                                                        <span>All adpack is here</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                    <!-- Page body start -->
                                    <div class="page-body navbar-page">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Default Navbar card start -->
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5>Click to select</h5>

                                                    </div>
                                                    <div class="card-block">
                                                        <div class="row m-b-20">

                                                            {% for adp in adp_list %}

                                                            <div class="col-md-3 effect" onclick="location.href='{% url 'buy_adpack' adp.level %}';">
                                                                <h4 class="adp" style="position: absolute;"></h4>
                                                                <span><img class="adpack" src="{{ adp.image.url }}" width="100%"></span>
                                                            </div>

                                                            {% endfor %}



                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Default Navbar card end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page body end -->
                                </div>

                                <!--- main content end -->
                                {% endblock content %}