
{% extends 'dashboard/sidebar.html' %}

{% block content %}

<div class="row row d-flex justify-content-center">
    <div class="card" style="width: 80%;">
        <div class="card-header">
            <h4>Congratulations!!!</h4>
        </div>
        <div class="card-body d-flex justify-content-center">
            <div class="col-sm-12" style="max-width: max-content;">
                <div class="alert alert-success" role="alert">
                    Fund added successfully...
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}