
{% extends 'dashboard/sidebar.html' %}
{% block content %}
{% load static %}

                                <!--- main content --->

                                <div class="page-wrapper">
                                    <!-- Page-header start -->
                                    <div class="page-header">
                                        <div class="row align-items-end">
                                            <div class="col-lg-8">
                                                <div class="page-header-title">
                                                    <div class="d-inline">
                                                        <h4>Payment Information</h4>
                                                        <span>Mange payment information</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page-header end -->

                                    <!-- Page body start -->
                                    <div class="page-body navbar-page">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <!-- Default Navbar card start -->
                                                <div class="card">
                                                    <div class="card-block">
                                                        <div class="row row d-flex justify-content-center">

                                                            <div class="card" style="width: 100%;">
                                                                <div class="card-body d-flex justify-content-center" style="padding-left: 0">
                                                                    <div class="col-sm-12" style="max-width: max-content;">
                                                                        <style>
                                                                            .cnt tr {
                                                                                display: block;
                                                                                margin: 0 !important;
                                                                                padding: 4px 0px !important;
                                                                            }
                                                                            .tda {
                                                                                width: 88px;
                                                                            }
                                                                            .tdb {
                                                                                
                                                                            }
                                                                            .input-group{
                                                                                width: 200px !important;
                                                                            }
                                                                            .bold{
                                                                                font-weight: bold;
                                                                            }

                                                                        </style>

                                                                        <table class="cnt">
                                                                            <tr>
                                                                                <td class="tda">Method: </td>
                                                                                <td class="tdb">
                                                                                    <!--- Select Service -->
                                                                                    <select class="vodiapicker2">
                                                                                        <option value="en" class="test" data-thumb="{% static 'dashboard-static/payicn/PerfectMoney.png' %}">Perfect Money</option>
                                                                                        <option value="au" data-thumb="{% static 'dashboard-static/payicn/Main balance.png' %}">Bank</option>
                                                                                        <option value="uk" data-thumb="{% static 'dashboard-static/payicn/Main balance.png' %}">Agent Transfer</option>
                                                                                    </select>
                                                                                    <div class="lang-select2">
                                                                                        <button class="btn-select2" value="en">
                                                                                            <li><img src="
                                                                                                {% static 'dashboard-static/payicn/Main balance.png' %}" alt="" value="en"><span>Main Balance</span></li>
                                                                                        </button>
                                                                                        <div class="bn">
                                                                                            <ul id="an">
                                                                                                <li><img src=
                                                                                                    "{% static 'dashboard-static/payicn/PayPal.png' %}" alt="" value="en"><span>Main Balance</span></li>
                                                                                                <li><img src="{% static 'dashboard-static/Main balance.png' %}" alt="" value="au"><span>BTC Wallet</span></li>
                                                                                                <li><img src="{% static 'dashboard-static/Main balance' %}" alt="" value="uk"><span>Bank Wallet</span></li>

                                                                                            </ul>
                                                                                        </div>
                                                                                    </div>
                                                                                    <!-- End Select Service -->
                                                                                </td>
                                                                            </tr>



                                                                            
                                                                            <tr>
                                                                                <td class="tda">A/C Email:</td>
                                                                                <td class="tdb">
                                                                                    <div class="input-group" style="margin: 0;">
                                                                                        <input type="text" class="form-control" name="quantity" placeholder="user@user.com">
                                                                                    </div>
                                                                                </td>
                                                                            </tr>
                                                                        </table><br>
                                                                        <button class="btn btn-primary btn-skew">Save</button>
                                                                        
                                                                        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
                                                                        <script id="INLINE_PEN_JS_ID">
                                                                            //test for getting url value from attr
                                                                            // var img1 = $('.test').attr("data-thumb");
                                                                            // console.log(img1);

                                                                            //test for iterating over child elements
                                                                            var langArrayn = [];
                                                                            $(".vodiapicker2 option").each(function() {
                                                                                var img = $(this).attr("data-thumb");
                                                                                var text = this.innerText;
                                                                                var value = $(this).val();
                                                                                var item =
                                                                                    '<li><img src="' +
                                                                                    img +
                                                                                    '" alt="" value="' +
                                                                                    value +
                                                                                    '"/><span>' +
                                                                                    text +
                                                                                    "</span></li>";
                                                                                langArrayn.push(item);
                                                                            });

                                                                            $("#an").html(langArrayn);

                                                                            //Set the button value to the first el of the array
                                                                            $(".btn-select2").html(langArrayn[0]);
                                                                            $(".btn-select2").attr("value", "en");

                                                                            //change button stuff on click
                                                                            $("#an li").click(function() {
                                                                                var img = $(this).find("img").attr("src");
                                                                                var value = $(this).find("img").attr("value");
                                                                                var text = this.innerText;
                                                                                var item =
                                                                                    '<li><img src="' + img + '" alt="" /><span>' + text + "</span></li>";
                                                                                $(".btn-select2").html(item);
                                                                                $(".btn-select2").attr("value", value);
                                                                                $(".bn").toggle();
                                                                                //console.log(value);
                                                                            });

                                                                            $(".btn-select2").click(function() {
                                                                                $(".bn").toggle();
                                                                            });

                                                                            //check local storage for the lang
                                                                            var sessionLang = localStorage.getItem("lang");
                                                                            if (sessionLang) {
                                                                                //find an item with value of sessionLang
                                                                                var langIndex = langArrayn.indexOf(sessionLang);
                                                                                $(".btn-select2").html(langArrayn[langIndex]);
                                                                                $(".btn-select2").attr("value", sessionLang);
                                                                            } else {
                                                                                var langIndex = langArrayn.indexOf("ch");
                                                                                console.log(langIndex);
                                                                                $(".btn-select2").html(langArrayn[langIndex]);
                                                                                //$('.btn-select2').attr('value', 'en');
                                                                            }
                                                                            //# sourceURL=pen.js

                                                                        </script>
                                                                        <style class="INLINE_PEN_STYLESHEET_ID">
                                                                            .vodiapicker2 {
                                                                                display: none;
                                                                            }

                                                                            #an {
                                                                                padding-left: 0px;
                                                                            }

                                                                            #an img,
                                                                            .btn-select2 img {
                                                                                width: 50px;

                                                                            }

                                                                            #an li {
                                                                                list-style: none;
                                                                                padding-top: 5px;
                                                                                padding-bottom: 5px;
                                                                            }

                                                                            #an li:hover {
                                                                                background-color: #F4F3F3;
                                                                            }

                                                                            #an li img {
                                                                                margin: 5px;
                                                                            }

                                                                            #an li span,
                                                                            .btn-select2 li span {
                                                                                margin-left: 5px;
                                                                            }

                                                                            /* item list */

                                                                            .bn {
                                                                                display: none;
                                                                                width: 100%;
                                                                                max-width: 350px;
                                                                                box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
                                                                                border: 1px solid rgba(0, 0, 0, .15);
                                                                                border-radius: 5px;
                                                                                position: absolute;
                                                                                z-index: 9999;
                                                                                background: white;
                                                                                width: 200px;

                                                                            }

                                                                            .open {
                                                                                display: show !important;
                                                                            }

                                                                            .btn-select2 {
                                                                                margin-top: 10px;
                                                                                width: 100%;
                                                                                max-width: 350px;
                                                                                height: 50px;
                                                                                border-radius: 5px;
                                                                                background-color: #fff;
                                                                                border: 1px solid #ccc;

                                                                            }

                                                                            .btn-select2 li {
                                                                                list-style: none;
                                                                                float: left;
                                                                                padding-bottom: 0px;
                                                                            }

                                                                            .btn-select2:hover li {
                                                                                margin-left: 0px;
                                                                            }

                                                                            .btn-select2:hover {
                                                                                background-color: #F4F3F3;
                                                                                border: 1px solid transparent;
                                                                                box-shadow: inset 0 0px 0px 1px #ccc;


                                                                            }

                                                                            .btn-select2:focus {
                                                                                outline: none;
                                                                            }

                                                                            .lang-select2 {
                                                                                margin-left: ;
                                                                                width: 200px;
                                                                            }

                                                                        </style>

                                                                        <!--- End Payment Method --->










                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- Default Navbar card end -->
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Page body end -->
                                </div>

                                <!--- main content end -->
                                {% endblock content %}
