{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Content -->
    <div id="content">
        <div class="login-signup-page mx-auto my-5">
            <h3 style="text-align: center;display: block;color: #00ae00;">An activation link was sent to your email.!!<br><small style="text-align: center;display: block;color: rebeccapurple;padding: 10px 0px 0px 0px;">Please check your email to active your account.</small></h3>
            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                <a class="btn btn-primary btn-block my-4" href="{% url 'login' %}">Go to Login</a>
            </div>
        </div>


    </div>

{% endblock content %}
