{% extends 'base.html' %}
{% load static %}
{% block content %}


    <!-- Document Wrapper -->
    <div id="main-wrapper">

        <!-- Header-->
        <header id="header">
            <div class="container">
                <div class="header-row">
                    <div class="header-column justify-content-start">
                        <!-- Logo -->
                        <div class="logo"> <a class="d-flex" href="index.html" title="Paytm Clone - HTML Template"><img src="img/logo.png" width="121" height="33" alt="Paytm Clone" /></a> </div>
                        <!-- Logo end -->
                        <!-- Collapse Button -->
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header-nav"> <span></span> <span></span> <span></span> </button><!-- Collapse Button end -->

                        <!-- Primary Navigation-->
                        <nav class="primary-menu navbar navbar-expand-lg">
                            <div id="header-nav" class="collapse navbar-collapse">
                                <ul class="navbar-nav mr-auto">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">Send</a></li>
                                    <li><a href="#">Request</a></li>
                                    <li><a href="#">About Us</a></li>
                                    <li><a href="#">Portfolio</a></li>
                                    <li><a href="#">Contact Us</a></li>
                                    <li class="dropdown"> <a class="dropdown-toggle" href="#">Features</a>
                                        <ul class="dropdown-menu">

                                            <li><a class="dropdown-item" href="#">Newsroom</a></li>
                                            <li><a class="dropdown-item" href="#">Jobs</a></li>
                                            <li><a class="dropdown-item" href="#">Investor Relations</a></li>
                                            <li><a class="dropdown-item" href="#">Social Innovation</a></li>
                                            <li><a class="dropdown-item" href="#">Public Policy</a></li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </nav>
                        <!-- Primary Navigation end -->
                    </div>

                    <div class="header-column justify-content-end">
                        <!-- Login & Signup Link -->
                        <nav class="login-signup navbar navbar-expand">
                            <ul class="navbar-nav">
                                <li><a href="login.html">Login</a> </li>
                                <li class="align-items-center h-auto ml-sm-3"><a class="btn btn-primary d-none d-sm-block" href="#">Sign Up</a></li>
                            </ul>
                        </nav>
                        <!-- Login & Signup Link end -->
                    </div>
                </div>
            </div>
        </header>
        <!-- Header End -->
    </div>

    <!-- Content -->
    <div id="content">
        <div class="login-signup-page mx-auto my-5">

 
   


            {% if success %}
            <h3 style="text-align: center;display: block;color: #00ae00;">Your account is successfully activated.!!<br><small style="text-align: center;display: block;color: rebeccapurple;padding: 10px 0px 0px 0px;">Thanks for using paytm clone.</small></h3>

            {% else %}

            <h3 style="text-align: center;display: block;color: #00ae00;color:red">Sorry INVALID token!!!.<br><small style="text-align: center;display: block;color: rebeccapurple;padding: 10px 0px 0px 0px;">Thanks for using paytm clone.</small></h3>

            {% endif %}


            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                <a class="btn btn-primary btn-block my-4" href="{% url 'login' %}">Go to login</a>
            </div>
        </div>


    </div>
    <!-- Content -->

{% endblock content %}