{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, shrink-to-fit=no">
    <link href="https://www.nrose.org/assets/front/img/favicon.jpg" rel="icon" />
    <link rel="shortcut icon" href="https://www.nrose.org/assets/front/img/favicon.jpg">
    <title>Profiteebd - password reset</title>
    <meta name="description" content="This professional design html template is for build a Money Transfer and online payments website.">
    <meta name="author" content="harnishdesign.net">

    <!-- Web Fonts -->
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i' type='text/css'>

    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdn.csefest.com/css/app.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.csefest.com/css/style.css" />

</head>

<body>

    <div id="main-wrapper" class="h-100">
        <div class="container-fluid px-0 h-100">
            <div class="row no-gutters h-100">
                <!-- Reset Password Form -->
                <div class="col-md-6 d-flex align-items-center">
                    <div class="container my-4">
                        <h3 class="font-weight-400 mb-4" style="text-align: center;">Your password has been changed</h3>
                        <div class="row">
                            <div class="col-11 col-lg-9 col-xl-8 mx-auto">
                                <a class="btn btn-primary btn-block my-4" href="{% url 'login' %}">Go to Login</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Reset Password Form End -->

                <!-- Welcome Text -->
                <div class="col-md-6">
                    <div class="hero-wrap d-flex align-items-center h-100">
                        <div class="hero-mask opacity-8 bg-primary"></div>
                        <div class="hero-bg hero-bg-scroll" style="background-image:url('./img/image-3.jpg');"></div>
                        <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
                            <div class="row no-gutters">
                                <div class="col-10 col-lg-9 mx-auto">
                                    <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" href="{% url 'index' %}"title="Payyed - HTML Template"><img src="{% static 'img/logo.png' %}" alt="Payyed"></a> </div>
                                </div>
                            </div>
                            <div class="row no-gutters my-auto">
                                <div class="col-10 col-lg-9 mx-auto">
                                    <h1 class="text-11 text-white mb-4">Whoops!!! Need Help</h1>
                                    <p class="text-4 text-white line-height-4 mb-5">We are ready to help you to recover you from any trouble to using <strong>Profiteebd</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Welcome Text End -->
            </div>
        </div>
    </div>
</body>
</html>