{% extends 'base.html' %}
{% load static %}

{% block content %}

    <div id="main-wrapper" class="h-100">
        <div class="container-fluid px-0 h-100">
            <div class="row no-gutters h-100">
                <!-- Reset Password Form -->
                <div class="col-md-6 d-flex align-items-center">
                    <div class="container my-4">
                        <h3 class="font-weight-400 mb-4" style="text-align: center;">An email is sent to your email to reset password.<br><small>Please check your email.</small></h3>
                        <div class="row">
                        </div>
                    </div>
                </div>
                <!-- Reset Password Form End -->

                <!-- Welcome Text -->
                <div class="col-md-6">
                    <div class="hero-wrap d-flex align-items-center h-100">
                        <div class="hero-mask opacity-8 bg-primary"></div>
                        <div class="hero-bg hero-bg-scroll" style="background-image:url('./img/image-3.jpg');"></div>
                        <div class="hero-content mx-auto w-100 h-100 d-flex flex-column">
                            <div class="row no-gutters">
                                <div class="col-10 col-lg-9 mx-auto">
                                    <div class="logo mt-5 mb-5 mb-md-0"> <a class="d-flex" href="index.html" title="Payyed - HTML Template"><img src="images/logo-light.png" alt="Payyed"></a> </div>
                                </div>
                            </div>
                            <div class="row no-gutters my-auto">
                                <div class="col-10 col-lg-9 mx-auto">
                                    <h1 class="text-11 text-white mb-4">Whoops!!! Need Help</h1>
                                    <p class="text-4 text-white line-height-4 mb-5">We are ready to help you to recover you from any trouble to using <strong>Paytm</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Welcome Text End -->
            </div>
        </div>
    </div>

{% endblock content %}
